<configuration scan="true" scanPeriod="10 seconds" debug="false">

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>###%d{ISO8601}### [%-5p] [%-20thread] [%-30c{0}]: %m%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="vsb" level="INFO"/>

    <logger name="com" level="INFO"/>
    <logger name="javax" level="INFO"/>
    <logger name="org" level="INFO"/>
    <logger name="net" level="INFO"/>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.cxf" level="INFO"/>

    <root level="INFO">
    <appender-ref ref="STDOUT"/>
    </root>

</configuration>
